<h1>Welcome to Libri.</h1>
<%= form_tag(search_path) do %>
  <%= label_tag(:query, "Find books:") %> <br />
  <%= text_field_tag :query, nil, maxlength: 40 %> <br />
  <%= submit_tag 'Search' %>
  <%= image_tag("powered_by_google_on_white.png") %>
<% end %>
