<!DOCTYPE html>
<html>
  <head>
    <title>Libri</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <p>©2018 Google LLC, used with permission. Google and the Google logo are registered trademarks of Google LLC.</p>
    </footer>
  </body>
</html>
